<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="'/resources/style.css'"/>
</head>
<body>
<div class="wrap">
    <h1 th:text="${title}">알 수 없음</h1>
    <div class="content-box">
        <form name="questForm" id="questForm" action="/quest/enroll" method="post" th:object="${questDTO}">
            Type<br>
            <select name="questType">
                <option value="0">Subject</option>
                <option value="1">Answer</option>
                <option value="2">Keyword</option>
            </select>
            Name<br>
            <input type="text" th:field="*{questName}"/>
            <p th:if="${#fields.hasErrors('questName')}" th:errors="*{questName}">Incorrect data!</p>
            Contents<br>
            <input type="text" th:field="*{questContents}"/>
            <br>
            <input type="submit" value="save">
        </form>
    </div>
</div>



</body>
</html>